@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Crimson+Text:400i|Gloria+Hallelujah');

@mixin header__link($font-size) {
    font-weight: 700;
    color: #ffffff;
    font-size: $font-size;
    line-height: 1.5;
}

@mixin title($small: false) {  
    @if $small  {
        font-size: 24px;
    } @else {
        font-size: 48px;
    }    
    font-weight: 700;
    line-height: 1.7;
    text-transform: uppercase;

}

@mixin description {
    font-size: 18px;
    font-family: $crimson;
    font-weight: 400;
    font-style: italic;
    color: $gray-text; 
}

