@mixin reset()  {
    margin: 0;
    padding: 0;
}

@mixin button() {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $yellow;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    &:hover,
    &:focus {
        color: darken($yellow, 15%);
    }
}

@mixin section__title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 596px;
    height: 188px;
    margin: 0 auto;
    background: url('../img/title_wrap.png') no-repeat;
}