$blue: #161b29;
$yellow: #d89b64;
$gray: #8a8f9c;
$gray-text: #8b909d;

$montserrat: 'Montserrat', 'Arial', sans-serif;
$crimson: 'Crimson Text', 'Times New Roman', serif;
$gloria: 'Gloria Hallelujah', 'Arial', cursive;