@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|https://fonts.googleapis.com/css?family=Crimson+Text:400i');

$montserrat: 'Montserrat', 'Arial', sans-serif;
$crimson: 'Crimson Text', 'Times New Roman', serif;

@mixin title {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.7;
}

@mixin header__link($font-size) {
    font-family: $montserrat;
    font-weight: 700;
    color: #ffffff;
    font-size: $font-size;
    line-height: 1.5;
}

