*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
    @include reset();
}

ul {
    @include reset();
    list-style: none;
}

a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border: 0;
  }